<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini Facebook</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div  class="Facebook">
    <h1>MessageMe</h1>
    <form method="get" action="/chats/new">
        <button class="button">New Chat</button>
    </form><br/><br/>
    
    <% for(chat of chats) { %>
        <div class="chats">
            <p>From: <%= chat.from%></p>
            <div class="msg">
                <p>Message: <%= chat.message%></p>
                <form method="get" action="/chats/<%=chat._id%>/edits">
                <button ">Edit</button></form>
                <br/>
                <form method="post" action="/chats/<%=chat._id%>?_method= delete">
                    <button >Delete</button></form>
            </div>
            <p>Received By: <%= chat.to%></p>
           
            <hr>
            <!-- <p> <%= chat.created_at.toString().split("")[4]%></p> -->
            <p> <%= chat.created_at.toString().split("").slice(0,4).join("")%></p>
        </div>
       
        <br/><br/>
       
        
  
  <%  } %>
</div>
</body>
</html>